{% extends '../base.html' %}
{% block account %}	
	<a id="logout" href="/account/logout/">تسجيل الخروج</a>
{% endblock %}

{% block main %}

<div class="account">
	<div class="avater">
		<img src="https://www.w3schools.com/w3images/avatar5.png" alt="الصورة الشخصية" >
	</div>
	<div class="username">{{ user.username }}</div>
	<div class="edit">
		<img src="/static/images/Icons/setting.png" style="width: 100%; height: 100%;"alt="">
	</div>
</div>

<div class="landmark-list c-5px">
	{% for landmark in landmarks %}
	<div class="landmark">
		<a href="{{ landmark.get_absolute_url }}">
			<img src="{{ landmark.photo_url }}" alt="">
		</a>
		<a href="{{ landmark.get_absolute_url }}update/">Edit</a>
		<a href="{{ landmark.get_absolute_url }}delete/">Delete</a>
	</div>
	{% endfor %}
	
	<div class="landmark">
		<a href="/landmarks/create/">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIZhv8ajbvZHmBOs5Yh9OB1eQah1sAZ5rC5uoI5s1lVQdaY66B7H5PXrCT66hUjDA-pjg&usqp=CAU">
		</a>
	</div>
</div>
{% endblock %}
