{%  extends '../base.html' %}
{% block main %}

{% if request.user.is_authenticated and request.user == landmark.owner %}
	<div>
		<a style="margin: 0px 20% 0px 50%;" id="Edit" href="update/">تعديل</a> 
		<a id="Delete" href="delete/">حذف</a>
	</div>
{% endif %}
<div class="container">

	<div class="card">
		
		<div class="card-header">
			<div>
				<span id="landmarkName">اسم المعلم</span>
				<span> {{ landmark.name }}</span>
			</div>
	
			<div>
				<span id="cityName">اسم المدينة</span>
				<span> {{ landmark.city }}</span>
			</div>
		</div>
	
		
		<div class="card-container">
			
			<div class="image-container">
				<img src="{{ landmark.photo_url }}" alt="{{ landmark.name }}">
			</div>

			<button><img src="/static/images/Icons/greenheart.png"></button>
		</div>

		<div class="landmark-content">
			<h1 id="aboutLand">عن المعلم</h1>
			<p>
				{{ landmark.about }}
			</p>
		</div>
		
	</div>


	<div class="landmark-list" style="width: 30%; height: 25%;">
		<p id="seemore">شاهد أيضا</p>
		{% for random_landmark in random_landmarks %}
		<div class="landmark" style="width: 100%; height: 100%;">
			<a href="{{ random_landmark.get_absolute_url }}">
				<img src="{{ random_landmark.photo_url }}" alt="{{ landmark.name }}">
			</a>
		</div>
		{% endfor %}
	</div>

</div>


{% endblock %}