{% extends "../base.html" %}
{% load static %}
{% block title %}Create{% endblock %}

{% block main %}
<form class="form-container" action="/landmarks/create/" method="post">{% csrf_token %}

    <input id="name" name="name" type="text" placeholder="أسم المعلم" title="عدد الأحرف لا تزيد عن 50 حرف" pattern="^.{0,50}$" required>
    <input id="place" name="place" type="text" placeholder="أسم المنطقة الموجد فيها المعلم" title="عدد الأحرف لا تزيد عن 50 حرف" pattern="^.{0,50}$">
    <input id="city" name="city" type="text" placeholder="أسم المدينة الموجد فيها المعلم" title="عدد الأحرف لا تزيد عن 50 حرف" pattern="^.{0,50}$" required>
    <textarea id="about" name="about" id="about" cols="30" rows="10" placeholder="عن المعلم" required></textarea>
    <input id="photo_url" name="photo_url" type="url" placeholder="رابط صورة للمعلم" title="يجب ان تكون رابط صورة بصيغة jpg أو png" pattern="^(https?:\/\/.*\.(?:png|jpg|JPG|PNG))$" required>
    <button class="btn">رفع</button>
</form>
{% endblock %}