{% extends "../base.html" %} 
{% load static %}
{% block title %}Login{% endblock %}

{% block main %}


<form action="/account/login/" method="POST" class="form-container">{% csrf_token %}
	<div>
		<fieldset>
			<legend>معلومات الدخول</legend>
			<input class="input" type="text" name="username" id="username" placeholder="أسم المستخدم" required>
			<!-- <input class="input" type="email" name="email" id="email" placeholder="الايميل" pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})$/" required> -->
			<input class="input" type="password" name="password" id="password" placeholder="كلمة المرور" required>
		</fieldset>
		<button class="btn">دخول</button>
	</div>
	

<a href="/account/signup/">هل انت مستخدم جديد؟ أنشئ حسابك</a>

{% if error %}

<div style="color: red;">{{error}}</div>

{% endif %}

</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
