{% extends "../base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block main %}
<form method="post" action="/account/signup/" id="registerForm" class="form-container">
	{% csrf_token %}


	<fieldset>


		<legend>معلومات شخصية</legend>

		<input id="firstName" class="input" type="text" name="first_name"
		placeholder="الاسم الاول" required>

		<input id="lastName" class="input" type="text" name="last_name"
		placeholder="الاسم الاخير" required>

		<input id="username" name="username" class="input"
		 	   type="text"  placeholder="أسم المستخدم" required>
<!-- 
		<input class="input" type="text" id="email" placeholder="الايميل"
		pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})$" required> -->

		<input id="password" name="password" type="password"
			   name="password" placeholder="كلمة المرور" title="يجب ان يحتوي على اكثر من 8 احرف كبيرة و صغيرة ويحتوي على رموز و ارقام"
			   pattern="^(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>

		<input id="password1" name="password1" type="password"
			   name="password1" placeholder=" تأكيد كلمة المرور" title="يجب ان يحتوي على اكثر من 8 احرف" 
			   pattern="^(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>
		
		<!-- <label for="photo"> اضافة صورة شخصية:</label>
		<input class="" type="file" name="photo" id="photo"> -->
	</fieldset>
	
	<div class="rules">
		<label for="acceptRules"> أوفق على كل الشروط و الأحكام</label>
		<a href="/rules/" target="_blank">الشروط</a>
		<input type="checkbox" name="acceptRules" class="input" id="acceptRules" required>
	</div>        
		<button class="btn">تسجيل</button>
	

		{% for error in errors %}
			<div style="color: red;">{{ error }}</div>
		{% endfor %}
	
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}

	