{% extends "../base.html" %}
{% load static %}
{% block title %}Update - {{ landmark.name }} {% endblock %}

{% block main %}
<form class="form-container" action="/landmarks/{{landmark.pk}}/update/" method="post">{% csrf_token %}

    <input id="name" name="name" type="text" placeholder="أسم المعلم" value="{{landmark.name}}">
    <input id="place" name="place" type="text" placeholder="أسم المنطقة الموجد فيها المعلم" value="{{landmark.place}}">
    <input id="city" name="city" type="text" placeholder="أسم المدينة الموجد فيها المعلم" value="{{landmark.city}}">
    <textarea id="about" name="about" cols="30" rows="10" placeholder="عن المعلم">{{landmark.about}}</textarea>
    <input id="photo_url" name="photo_url" type="url" placeholder="رابط صورة للمعلم" value="{{landmark.photo_url}}">
    <button id="update" class="btn">تحديث</button>
</form>



	<div class="card" style="padding: 0px 10% 0px 10%;">
		
		<div class="card-header">
			<div>
				<span id="placeName">اسم المكان</span>
				<span> {{ landmark.name }}</span>
			</div>
	
			<div>
				<span id="cityName">اسم المدينة</span>
				<span> {{ landmark.city }}</span>
			</div>
		</div>
	
		
		<div class="card-container">
			
			<div class="image-container">
				<img src="{{ landmark.photo_url }}" alt="{{ landmark.name }}">
			</div>

			<button><img src="/static/images/Icons/greenheart.png"></button>
		</div>

		<div class="landmark-content">
			<h1 id="aboutLand">عن المعلم</h1>
			<p>
				{{ landmark.about }}
			</p>
		</div>
</div>
{% endblock %}